<h1>ng-style works!</h1>

<div [ngStyle] = "{ 'color': 'red'}"> Some text</div>
<div [ngStyle] = "{ 'font-size': '20px'}"> Some text</div>
<hr>

<h2>Использование выражений</h2>
<div [ngStyle] = "{ 'background-color' : bgTrue ? 'yellow': 'white'}">
    Фон будет желтым если аргумент ТРУ или белым есть ФОЛС
</div>

<h2>Динамическое применение стилей на основе данных компонента</h2>
<input type="number" [(ngModel)] = 'sizeBox'>
<input type="number" [(ngModel)] = 'sizeBoxH'>

<div [ngStyle] = "{ 'width.px' : sizeBox, 'height.px' : sizeBoxH, 
    'background-color' : 'red'}">1</div>
<h2>Использование метода в компоненте</h2>

<div [ngStyle]="getStyle()">Динамические стили</div>